body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  background-color: dodgerblue;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}

h1 {
  margin-bottom: 1em;
}

.link-button {
  display: inline-block;
  margin: 0.5em 0;
}
